<h1>Register</h1>
<form
  action="/user/register"
  method="POST"
  enctype="application/x-www-form-urlencoded"
>
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
  </div>
  <button type="submit">Register</button>
</form>
<a href="/auth/login">Login</a>
